*{
    margin: 3rem;
    padding: 0;
}

.form-group {
    margin: 5rem;
    margin-bottom: 1rem;
  }
  
  .form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }
  .btn 
  {
    margin: 4rem;
  }

  